body {
    background-color: white;
}

.carousel-item {
    height: 300px;
    justify-content: center;
}

h1 {
    padding: 0%;
    margin: 0%;
}

h5 {
    text-align: right;
}

hr {
    margin: 0%;
}

.title{
    padding: 10%;
}

.accordion {
    padding: 10%;
    padding-top: 0%;
}
.socials {
    display: flex;
    justify-content: space-around;
    padding: 5%;
}