html {
    height: 100%;
    margin-top: 0px;
    background: linear-gradient(to bottom, #eb8666, #cb89d8,#74adfd);
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: auto;
    padding: 2%;
    max-width: 1024px;
    color: dimgray;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    box-shadow: 0 0 5px #888;
    background: rgb( 255, 255, 255, 0.5)
}

header {
    background-color: whitesmoke;
    height: 118px;
    margin-top: 0%;
    text-align: center;
}

#box {
    width: 200px;
    height: 200px;
    background: black;
}

.topbox {
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
}

img {
    max-width: 50%;
    border: 15px solid #f1f1f1;
}

.portrait {
    flex-basis: 50%;
}

.text {
    flex-basis: 50%;
    margin-left: 100px;
    background: black;
    text-align: center;
}

main {
    text-align: center;
    padding-top: 30px;
    padding-left: 220px;
    padding-right: 220px;
    padding-bottom: 30px;
}

h1 {
    font-size: 60px;
    color: whitesmoke;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}


p {
    font-size: auto;
    text-align: justify;
    text-justify: inter-word;
    color: dimgray;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

a {
    font-size: 18px;
    color: gray;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

a:hover {
    color: black;
}

footer p {
    font-size: 10px;
    text-align: center;
    color: rgb(221, 221, 221);
}